body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #efe7e4;
}

.navbar {
    background-color: #8c797f;
    color: #efe7e4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.navbar-brand {
    font-weight: 600;
}

.right {
    float: right;
}

a {
    padding-left: 15px;
    padding-right: 15px;
    color: #efe7e4;
}

a:hover {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

h3 {
    margin-top: 5rem;
    margin-left: 3rem;
    font-weight: 600;
    color: #8c797f;
}

form {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


#message {
    padding-bottom: 8rem;
    padding-top: 1rem;
}

.form-control:focus {
    border-color: #8c797f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(94, 65, 79, 0.25);
}

.btn-primary {
    background-color: #8c797f;
    color: white;
    border: none;
}

.btn:hover {
    background-color: white;
    color: #8c797f;
}

.more {
    margin-bottom: 8rem;
    margin-left: 3rem;
}


footer {
    background-color: #8c797f;
    color: #efe7e4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
}