body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #efe7e4;
}

.navbar {
    background-color: #8c797f;
    color: #efe7e4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.navbar-brand {
    font-weight: 600;
}

.right {
    float: right;
}

a {
    padding-left: 15px;
    padding-right: 15px;
    color: #efe7e4;
}

a:hover {
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.thumbnail {
    width: 80%;
    margin-bottom: 30px;
}

.caption {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #8c797f;
}

.preview {
    text-align: center;
    margin-top: 3rem;
}

footer {
    background-color: #8c797f;
    color: #efe7e4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
}